<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rensa Films</title>
    <link rel="shortcut icon" type="image/png" href="../assets/images/logos/favicon.ico" />
    <link rel="stylesheet" href="../assets/css/styles.css" />
</head>

<body>


    <!-- Header -->
    <header class="header border-4 border-primary border-top position-fixed start-0 top-0 w-100">
        <div class="container">
            <div class="header-wrapper d-flex align-items-center justify-content-between">
                <div class="logo">
                    <a href="../index.html" class="logo-white">
                        <img src="../assets/images/logos/logo-nombre-dark.PNG" alt="logo" class="img-fluid" width="400"
                            height="41">
                    </a>
                    <a href="../index.html" class="logo-dark">
                        <img src="../assets/images/logos/logo-nombre.PNG" alt="logo" class="img-fluid" width="400"
                            height="41">
                    </a>
                </div>
                <div class="d-flex align-items-center gap-4">

                    <div class="btn-group">
                        <button
                            class="btn btn-secondary toggle-menu round-45 p-2 d-flex align-items-center justify-content-center bg-white rounded-circle"
                            type="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
                            <iconify-icon icon="solar:hamburger-menu-line-duotone"
                                class="menu-icon fs-8 text-dark"></iconify-icon>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end p-4">
                            <div class="d-flex flex-column gap-6">
                                <div class="hstack justify-content-between border-bottom pb-6">
                                    <p class="mb-0 fs-5 text-dark">Menu</p>
                                    <button type="button" class="btn-close opacity-75" aria-label="Close"></button>
                                </div>
                                <div class="d-flex flex-column gap-3">
                                    <ul class="header-menu list-unstyled mb-0 d-flex flex-column gap-2">
                                        <li class="header-item">
                                            <a href="../index.html" aria-current="true"
                                                class="header-link active hstack gap-2 fs-7 fw-bold text-dark"><img
                                                    src="../assets/images/svgs/secondary-leaf.svg" alt="" width="20"
                                                    height="20" class="img-fluid animate-spin">Inicio</a>
                                        </li>
                                        <li class="header-item">
                                            <a href="nosotros.html"
                                                class="header-link hstack gap-2 fs-7 fw-bold text-dark"><img
                                                    src="../assets/images/svgs/secondary-leaf.svg" alt="" width="20"
                                                    height="20" class="img-fluid animate-spin">Sobre Nosotros</a>
                                        </li>
                                        <li class="header-item">
                                            <a href="projects.html"
                                                class="header-link hstack gap-2 fs-7 fw-bold text-primary"><img
                                                    src="../assets/images/svgs/secondary-leaf.svg" alt="" width="20"
                                                    height="20" class="img-fluid animate-spin">Mind Motion</a>
                                        </li>
                                        <li class="header-item">
                                            <a href="../index.html#services"
                                                class="header-link hstack gap-2 fs-7 fw-bold text-dark"><img
                                                    src="../assets/images/svgs/secondary-leaf.svg" alt="" width="20"
                                                    height="20" class="img-fluid animate-spin">Servicios</a>
                                        </li>
                                        <li class="header-item">
                                            <a href="#" class="header-link hstack gap-2 fs-7 fw-bold text-dark"><img
                                                    src="assets/images/svgs/secondary-leaf.svg" alt="" width="20"
                                                    height="20" class="img-fluid animate-spin">Contacto</a>
                                        </li>
                                    </ul>
                                </div>
                                <div>
                                    <a class="fs-5 text-dark " href="tel:+57-319-5044575">
                                        +57 319 5044575
                                    </a>
                                    <a class="fs-5 text-dark "
                                        href="mailto:rensafilms@gmail.com">rensafilms@gmail.com</a>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!--  Page Wrapper -->
    <div class="page-wrapper overflow-hidden">

        <!--  Banner Section -->
        <section class="banner-section banner-inner-section position-relative overflow-hidden d-flex align-items-end">
            <video class="position-absolute top-0 start-0 w-100 h-100 object-fit-cover" autoplay muted loop playsinline>
                <source src="../assets/images/contact/bg-contacto-video.mp4" type="video/mp4" />
            </video>
            <div class="container">
                <div class="d-flex flex-column gap-4 pb-5 pb-xl-10 position-relative z-1">
                    <div class="row align-items-center">
                        <div class="col-xl-4">
                            <div class="d-flex align-items-center gap-4" data-aos="fade-up" data-aos-delay="100"
                                data-aos-duration="1000">
                                <img src="../assets/images/logos/logo-copia.PNG" alt="" class="img-fluid animate-spin-2"
                                    width="50" height="50">
                                <p class="mb-0 text-white fs-5 text-opacity-70">Listo para <span
                                        class="text-primary">Comenzar
                                        algo</span> genial? Contáctanos, nos encantaría saber de ti.</p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-end gap-3" data-aos="fade-up" data-aos-delay="200"
                        data-aos-duration="1000">
                        <h1 class="mb-0 fs-16 text-white lh-1">Contacto</h1>
                    </div>
                </div>
            </div>
        </section>

        <!--  Get in touch Section -->
        <section class="get-in-touch py-5 py-lg-11 py-xl-12">
            <div class="container">
                <div class="d-flex flex-column gap-5 gap-xl-10">
                    <div class="row gap-7 gap-xl-0">
                        <div class="col-xl-4 col-xxl-4">
                            <div class="d-flex align-items-center gap-7 py-2" data-aos="fade-right" data-aos-delay="100"
                                data-aos-duration="1000">
                                <span
                                    class="round-36 flex-shrink-0 text-dark rounded-circle bg-primary hstack justify-content-center fw-medium">08</span>
                                <hr class="border-line bg-white">
                                <span class="badge text-bg-dark">Contáctanos</span>
                            </div>
                        </div>
                        <div class="col-xl-8 col-xxl-7">
                            <div class="row">
                                <div class="col-xxl-8">
                                    <div class="d-flex flex-column gap-6" data-aos="fade-up" data-aos-delay="100"
                                        data-aos-duration="1000">
                                        <h2 class="mb-0">Ponte en contacto</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-between gap-7 gap-xl-0">
                        <div class="col-xl-3">
                            <p class="mb-0 fs-5" data-aos="fade-right" data-aos-delay="100" data-aos-duration="1000">
                                Colaboremos
                                y creemos algo increíble! Cuéntanos sobre tu proyecto—somos todo
                                oídos.</p>
                        </div>
                        <div class="col-xl-8">
                            <form class="d-flex flex-column gap-7" data-aos="fade-up" data-aos-delay="200"
                                data-aos-duration="1000">
                                <div>
                                    <input type="text" class="form-control border-bottom border-dark"
                                        id="formGroupExampleInput" placeholder="Nombre">
                                </div>
                                <div>
                                    <input type="email" class="form-control border-bottom border-dark"
                                        id="exampleInputEmail1" placeholder="Correo electrónico"
                                        aria-describedby="emailHelp">
                                </div>
                                <div>
                                    <textarea class="form-control border-bottom border-dark"
                                        id="exampleFormControlTextarea1" placeholder="Cuéntanos sobre tu proyecto"
                                        rows="3"></textarea>
                                </div>
                                <button type="submit" class="btn w-100 justify-content-center">
                                    <span class="btn-text">Enviar mensaje</span>
                                    <iconify-icon icon="lucide:arrow-up-right"
                                        class="btn-icon bg-white text-dark round-52 rounded-circle hstack justify-content-center fs-7 shadow-sm"></iconify-icon>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div style="width: 100%"><iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0"
                marginwidth="0"
                src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=+(CENIGRAF)&amp;t=h&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a
                    href="https://www.mapsdirections.info/it/calcola-la-popolazione-su-una-mappa/">densità di
                    popolazione Italia mappa</a></iframe></div>

    </div>

    <footer class="footer bg-dark py-5 py-lg-11 py-xl-12">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 mb-8 mb-xl-0">
                    <div class="d-flex flex-column gap-8 pe-xl-5">
                        <h2 class="mb-0 text-white">“Tú eres el cambio”</h2>
                        <div class="d-flex flex-column gap-2">
                            <a href="#" target="_blank" class="link-hover hstack gap-3 text-white fs-5">
                                <iconify-icon icon="lucide:arrow-up-right" class="fs-7 text-primary"></iconify-icon>
                                www.rensafilms.com
                            </a>
                            <a href="mailto:rensafilms@gmail.com" target="_blank"
                                class="link-hover hstack gap-3 text-white fs-5">
                                <iconify-icon icon="lucide:map-pin" class="fs-7 text-primary"></iconify-icon>
                                rensafilms@gmail.com
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xl-2 mb-8 mb-xl-0">
                    <ul class="footer-menu list-unstyled mb-0 d-flex flex-column gap-2">
                        <li><a class="link-hover fs-5 text-white" href="../index.html">Inicio</a></li>
                        <li><a class="link-hover fs-5 text-white" href="nosotros.html">Sobre nosotros</a></li>
                        <li><a class="link-hover fs-5 text-white" href="../index.html#proyectos">Proyectos</a></li>
                        <li><a class="link-hover fs-5 text-white" href="../index.html#services">Servicios</a></li>
                        <li><a class="link-hover fs-5 text-white" href="../assets/pdf/RENSAFILMS-1.pdf"
                                target="_blank">Manual de marca</a></li>

                        </li>
                    </ul>
                </div>
                <div class="col-md-4 col-xl-2 mb-8 mb-xl-0">
                    <ul class="footer-menu list-unstyled mb-0 d-flex flex-column gap-2">
                        <li><a class="link-hover fs-5 text-white" href="#!">Facebook</a></li>
                        <li><a class="link-hover fs-5 text-white" href="#!">Instagram</a></li>
                        <li><a class="link-hover fs-5 text-white" href="#!">Twitter</a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-xl-3 mb-8 mb-xl-0">
                    <p class="mb-0 text-white text-opacity-70 text-md-end">© RensaFilms copyright 2025</p>
                </div>
            </div>
        </div>
    </footer>

    <div class="get-template hstack gap-2">

        <button class="btn bg-primary p-2 round-52 rounded-circle hstack justify-content-center flex-shrink-0"
            id="scrollToTopBtn">
            <iconify-icon icon="lucide:arrow-up" class="fs-7 text-dark"></iconify-icon>
        </button>
    </div>


    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>

    <!-- Owl Carousel -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <!-- AOS (Animate On Scroll) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="../assets/js/custom.js"></script>
    <!-- solar icons -->
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
</body>

</html>